.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.toggle-button div {
  align-content: center;
}

.add-todo {
  position: fixed;
  bottom: 2rem;
  width: 80%;
  left: 47.35%;
  transform: translate(-50%, -50%);
}

#message {
  border: 0.5px solid rgba(255, 255, 255, 0);
}

#search {
  border: 0.5px solid rgba(255, 255, 255, 0);
}

#search:focus {
  outline: none;
}

#message:focus {
  outline: none;
}
